.wrapper  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    background: #b7b7b7;
    text-align: center;
    padding: 20px 50px;
    border-radius: 50px;
}

.loginBox p{
    color: #707070;
    text-decoration: underline;
}

.loginBox input{
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #343434;
    outline: none;
    margin: 50px 20px;
    max-width: 255px;
    font-size: 14pt;
    -moz-appearance:textfield;
}

.loginBox .navLink{
    text-decoration: underline;
    color: #2d2d2d;
}

.loginButton {
    background-color: #7c7c7c;
    border-radius:28px;
    border:1px solid #4a4a4a;
    display:inline-block;
    cursor:pointer;
    font-size:17px;
    padding:8px 25px;
    text-decoration:none;
    text-shadow:0 1px 0 #454545;
}

.loginButton:hover {
    background-color: #515151;
}

@media screen and (max-width: 767px) {
    .loginBox {
        padding: 20px 5px;
    }

    .loginBox p{
        margin-bottom: 40px;
    }

    .loginBox input{
        margin-top: 65px;
        font-size: 14pt;
    }

    .loginButton {
        margin-top: 60px;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #b7b7b7 inset !important;
}

